{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.js"
      ],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "noInlineConfig": true,
  "reportUnusedDisableDirectives": true
}
